$bg: #fffcf4;
$red: #560000;
$lred: #fff4f4;
$error: #fc0505;
$lyellow: #ffecaa;
$black: #161616;

@mixin wrap() {
	box-sizing: border-box;
	padding: 10px;
	text-align:center;
}

@mixin margins() {
	margin: 0 0 15px 0;
}

@mixin radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}

@mixin fieldStyle() {
	color:$black;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	max-width:100%;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
}

body {
	background: $bg;
	font-family: 'Roboto', sans-serif;
	color:$black;
}

.pretext {
	@include wrap(); 
}

p, h1 {
	@include margins();
}

h1 {
	text-align: center;
	font-size:43px;
	color: $red;
}

#totals {
	@include wrap();
	@include margins();
	background: $lyellow;
	text-align: center;
	font-size: 21px;
}

.total {
	padding-right:10px;
	display: inline-block;

	&:last-child {
		padding:0;
	}

	span {
		color: $red;
		font-weight: bold;
	}
}

button {
	@include radius(5px);
	color: $red;
	background: 0;
	border: 1px solid;
	padding: 7px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	cursor:pointer;

	&:hover {
		color: #ffffff;
		background: $red;
	}
}

.liContainer {
	@include wrap();
}

.lineItem {
	@include margins();
	padding-bottom: 10px;
	border-bottom: 1px dotted;
}

.liField {
	@include margins();
	text-align: left;
}

.field {
	float:right;
	text-align:right;
	width: 170px;
}

input[type='text'] {
	@include fieldStyle();
	padding: 1px 2px;
	box-sizing: border-box;

	&.gross {
		width:155px;
	}
}

.date {
	input {
		width:25px;
		margin: 0 5px;
	}

	.year {
		width: 42px;
	}
}

select {
	@include fieldStyle();
	background: $lred;
	box-sizing: border-box;
}

.error {
	color: $error;
}

.clear {
	&:after {
		display:block;
		content: '';
		clear:both;
	}
}

@media only screen and (min-width: 620px) {
	h1 {
		font-size: 50px;
	}

	#totals {
		font-size: 28px;
	}

	.liField {
		display: inline-block;

		&:nth-child(odd) {
			float:left;
			clear: left;
		}

		&:nth-child(even) {
			float:right;
			clear: right;
		}
	}

	.field {
		float:none;
		margin-left: 10px;
	}
}

@media only screen and (min-width: 1092px) {
	.pretext, .liContainer {
		width: 1092px;
		margin: 0 auto;
	}

	.liContainer {
		text-align: left;
	}

	.liField {
		margin-left: 15px;

		&:nth-child(odd), &:nth-child(even) {
			float:none;
			clear:none;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	select, input[type='text'] {
		max-width: 175px;
	}

}